.arrow {
    position: relative;
    bottom: 2px;
    font-size: 1.1rem;
}


.card-img-top {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 0 90%;
}
.bg-dark {
    background-color: #4b5bb0!important;
}
.border-dark {
    border: 1px solid #2f3b77!important;
    color: #2f3b77!important;
}
.btn.bg-dark, .navbar.bg-dark {
    background-color: #2f3b77!important;
}
.media img {
    width: 3rem;
}
a,
button[type="button"] {
    color: #4b5bb0;
}
a:hover,
a:active,
button[type="button"]:hover {
    color: #2f3b77;
}

 