body {
  background-color: #f8f9fa;
}

.navbar,
.card-footer,
.card-header,
footer {
  background-color: #313b72;
}

.card button {
  color: #313b72;
  border-color: #313b72;
}

a {
  color: #313b72;
}
